<div id="sanitize-now" class="slide scroll-area" data-spy="scroll" data-offset="0">
  <div class="jumbotron container">
    <h2 class="heading">How to Sanitize!</h2>
    <div class="col-sm-6">
      <p>
        To get your equipment sanitized, simply bring your equipment to our drop off location.
      </p>
      <p>
        Your gear will be ready for pick-up within two business days. We accept cash, check, Visa, Mastercard, and AmEx
      </p>

     <h4>Drop Off Location:</h4>
      <address>
        <strong>Ann Arbor T-Shirt Company</strong><br />
          2275 S Industrial Hwy<br />
          Ann Arbor, Michigan 48104<br /> ‎
          <abbr title="Phone">P</abbr>: 734-274-2659<br/>
          Monday - Friday: 10am - 6pm EST
      </address>

    </div>
    <div class="col-sm-6" style="text-align: center">
        <%= image_tag 'map.png', width: '80%' %>
    </div>

  </div>
</div>
