<div id="pricing-and-services" class="slide scroll-area" data-spy="scroll">
  <div class="container">
    <div class="col-md-4">
      <div class="panel panel-danger">
        <div class="panel-heading"><h3 class="text-center">Goalie Gear Cleaning</h3></div>
        <div class="panel-body text-center">
          <p class="lead" style="font-size:40px"><strong>$45 / Cleaning</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Gets deep into your gloves</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Won't damage your gear</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Great for pre or post storage</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Smell like a shutout</li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-danger" href="#sanitize-now">SANITIZE NOW!</a>
        </div>
      </div>

    </div>

    <div class="col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading"><h3 class="text-center">Standard Cleaning</h3></div>
        <div class="panel-body text-center">
          <p class="lead" style="font-size:40px"><strong>$35 / Cleaning</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Good for a single set of equipment</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Hockey, Lacrosse or Football Gear</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Hunting Coats, Bibs, or Waders</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Anything you can't wash with water</li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-danger" href="#sanitize-now">SANITIZE NOW!</a>
        </div>
      </div>

    </div>

    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="ribbon ribbon-red"><div class="banner"><div class="text">BEST SELLER</div></div></div>
        <div class="panel-heading"><h3 class="text-center">4-Cleaning Pack</h3></div>
        <div class="panel-body text-center">
          <p class="lead" style="font-size:40px"><strong>$25 / Cleaning</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Good for any set of equipment</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Valid for 1 year after purchase</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Can be used by multiple people</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Smell fresh all the time!</li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-danger" href="#sanitize-now">SANITIZE NOW!</a>
        </div>
      </div>

    </div>


  </div>
</div>