<div id="the-problem" class="slide scroll-area" data-spy="scroll" data-offset="0">
  <div class="jumbotron">
    <h3>The Problem</h3>
    <p>Wet equipment is a breeding ground for bacteria - the more they thrive, the stronger they smell.</p>


    <h3>The Bigger Problem</h3>
    <p>Some of that bacteria may be legitimately dangerous, and in some instances, life-threatening -
      including antibiotic-resistant MRSA, a type of severe staph infection.</p>

    <h3>Says Who?</h3>
    <p>The Center for Disease Control (CDC), Mayo Clinic, Dr. Oz, and every other medical authority.
      MRSA infections have hit athletics at every level, from Little League to the NFL.</p>

    <!--<p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>-->
  </div>
</div>