<div id="why-sanitize" class="slide scroll-area" data-spy="scroll" data-offset="0">
  <div class="jumbotron">
    <h2>Why Sanitize?</h2>
    <p>
        Our SaniSport Sterilization System will eliminate
        your gear's stink in an ozone gas chamber
        while neutralizing and eliminating over
        99.99% of the bacteria nested inside
    </p>
  </div>
</div>